body {
    font-family: 'Helvetica Neue';
    background-color: #000;
    color:#fff;
}

.banner{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:300px;
    max-height:550px;
    min-width:300px;
}
.banner:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background:rgba(0,0,0,0.7);
}
.banner:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#1B2030 url(/pages/image/banner.jpg) no-repeat;
    background-size:cover;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2;
    background-position-y: 75%;
}

.banner .title, 
.banner .description, 
.banner .free {
    font-weight: bold;
}
.banner .title {
    font-size: 48px;
    line-height: 48px;
}
.banner .description, 
.banner .free {
    font-size: 16px;
}
.banner .description, 
.banner .bottom {
    margin-top: 16px;
}
.banner .free {
    margin-left: 10px;
}

.banner .bottom .icon img {
    width: 43px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40;
}

.footer .copyright {
    font-size: 12px;
}

.footer .copyright a {
    color: #fff;
    text-decoration: underline;
}

.footer .contact .rounded-circle {
    border: #fff solid 1px;
    background-color: #000;
}

.footer .contact img {
    width: 30px;
    filter: invert(100%);
}

.content {
    margin-bottom: 16px;
}

.content .intro, .content .bottom {
    margin-top: 40px;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
}

.content-text {
    margin-top: 16px;
}

.intro .col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.content .top {
    margin-top: 40px;
}

.content .bottom .col-12 {
    margin-top: 20px;
}

.content .bottom .download .btn {
    margin: auto 20px;
    min-width: 110px;
}

.pic {
    margin-top: 40px;
    height: 200px;
}

.window, 
.window .window-dot, 
.window .replace-button,
.dragging-button-small, 
.dragging-button-middle, 
.dragging-button-large,
.touchpad{
    border: 2px solid #707070;
}

.border-gray {
    border-color: #2d2d2d !important;
}

.window {
    border-radius: 10px;
    position: relative;
}

.window .window-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #707070;
}

.window .window-dot.quit {
    background-color: #E55F5F;
    border-color: #E55F5F;
}

.window .window-dot.mini {
    background-color: #C9A952;
    border-color: #C9A952;
}

.window .window-dot.full {
    background-color: #35AD4C;
    border-color: #35AD4C;
}

.window .window-dot-wrap {
    padding-top: 10px;
    padding-left: 25px;
}

.window .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.window .replace-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.dragging-button-small, 
.dragging-button-middle, 
.dragging-button-large,
.touchpad {
    border-radius: 5px;
}

.dragging-button-small, 
.dragging-button-middle, 
.dragging-button-large {
    height: 40px;
    margin-right: 4px;
}

.dragging-button-small {
    min-width: 40px;
}

.dragging-button-middle {
    min-width: 50px;
}

.dragging-button-small .option {
    font-size: 10px;
}

.dragging-button-small .option div {
    padding-right: 2px;
}

.touchpad {
    margin-top: 5px;
    margin-left: 65px;
    height: 150px;
}

.finder {
    margin: 35px 20px;
}

.finder .odd,
.finder .even {
    height: 30px;
    border: 1px solid #2E2E2E;
}

.finder .odd {
    background-color: #2E2E2E;
}

.finder .odd span,
.finder .even span {
    padding: 20px;
}

.finder .success {
    color: #A9FDCD;
}

.finder .fail {
    color: #F4A7A7;
}

.circle-ripple {
    background-color: rgba(169, 253, 205, 0.5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-animation: ripple 1.5s linear infinite;
            animation: ripple 1.5s linear infinite;
    position: absolute;
}

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(169, 253, 205, 0.2), 0 0 0 15px rgba(169, 253, 205, 0.2), 0 0 0 20px rgba(169, 253, 205, 0.2), 0 0 0 30px rgba(169, 253, 205, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(169, 253, 205, 0.2), 0 0 0 20px rgba(169, 253, 205, 0.2), 0 0 0 30px rgba(169, 253, 205, 0.2), 0 0 0 60px rgba(169, 253, 205, 0);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(169, 253, 205, 0.2), 0 0 0 15px rgba(169, 253, 205, 0.2), 0 0 0 20px rgba(169, 253, 205, 0.2), 0 0 0 30px rgba(169, 253, 205, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(169, 253, 205, 0.2), 0 0 0 20px rgba(169, 253, 205, 0.2), 0 0 0 30px rgba(169, 253, 205, 0.2), 0 0 0 60px rgba(169, 253, 205, 0);
    }
}

@media (min-width: 768px) { 
    .banner {
        min-height:400px;
    }

    .banner .title {
        font-size: 6vw;
        line-height: 6.5vw;
    }

    .banner .description, 
    .banner .free {
        font-size: 1.7vw;
    }

    .banner .description, 
    .banner .bottom {
        margin-top: 2vw;
    }
    .banner .free {
        margin-left: 2vw;
    }
    .banner .icon img {
        max-width: 15vw;
    }

    .content {
        margin-bottom: 4vw;
    }

    .content .intro, .content .bottom {
        margin-top: 3vw;
    }

    .header-text {
        font-size: 2.3vw;
        font-weight: bold;
    }

    .content-text {
        margin-top: 1.5vw;
    }

    .intro .col-md-6 {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
    }

    .content .top .col-12 {
        margin-top: 3vw;
    }

    .content .bottom .col-12 {
        margin-top: 2vw;
    }

    .content .bottom .download .btn {
        margin: auto 3vw;
        min-width: 8vw;
    }

    .pic {
        height: 20vw;
    }

    .window .window-dot {
        width: 1.2vw;
        height: 1.2vw;
        margin-right: 1vw;
    }

    .window .button {
        bottom: 1.4vw;
        right: 1.4vw;
    }

    .window .replace-button {
        height: 3.5vw;
        width: 10vw;
        border-radius: 5px;
        margin-left: 1.6vw;
        font-size: 1.5vw;
    }

    .dragging-button-small, 
    .dragging-button-middle, 
    .dragging-button-large {
        height: 3.5vw;
        margin-right: 0.5vw;
    }

    .dragging-button-small {
        min-width: 3.5vw;
    }

    .dragging-button-middle {
        min-width: 4.5vw;
    }

    .dragging-button-small .option {
        font-size: 0.8vw;
    }

    .dragging-button-small .option div {
        padding-right: 0.2vw;
    }

    .touchpad {
        margin-top: 0.5vw;
        margin-left: 5vw;
        height: 15vw;
    }

    .finder {
        margin: 3vw;
    }

    .finder .odd,
    .finder .even {
        height: 3.5vw;
        font-size: 1.6vw;
    }

    .circle-ripple {
        width: 1vw;
        height: 1vw;
    }

    @-webkit-keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(169, 253, 205, 0.2), 0 0 0 1vw rgba(169, 253, 205, 0.2), 0 0 0 1.5vw rgba(169, 253, 205, 0.2), 0 0 0 2.5vw rgba(169, 253, 205, 0.2);
        }
        100% {
            box-shadow: 0 0 0 1vw rgba(169, 253, 205, 0.2), 0 0 0 1.5vw rgba(169, 253, 205, 0.2), 0 0 0 2.5vw rgba(169, 253, 205, 0.2), 0 0 0 5vw rgba(169, 253, 205, 0);
        }
    }

    @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(169, 253, 205, 0.2), 0 0 0 1vw rgba(169, 253, 205, 0.2), 0 0 0 1.5vw rgba(169, 253, 205, 0.2), 0 0 0 2.5vw rgba(169, 253, 205, 0.2);
        }
        100% {
            box-shadow: 0 0 0 1vw rgba(169, 253, 205, 0.2), 0 0 0 1.5vw rgba(169, 253, 205, 0.2), 0 0 0 2.5vw rgba(169, 253, 205, 0.2), 0 0 0 5vw rgba(169, 253, 205, 0);
        }
    }
}